<h2>Student Management</h2>

<form (ngSubmit)="saveStudent()">
  <input type="text" [(ngModel)]="student.studentName" name="studentName" placeholder="Name" required />
  <input type="email" [(ngModel)]="student.studentEmail" name="studentEmail" placeholder="Email" required />
  <input type="text" [(ngModel)]="student.studentAddress" name="studentAddress" placeholder="Address" required />
  <button type="submit">{{ student.id ? 'Update' : 'Add' }}</button>
  <button type="button" (click)="resetForm()">Clear</button>
</form>

<hr />

<table >
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let s of students">
    <td>{{ s.studentName }}</td>
    <td>{{ s.studentEmail }}</td>
    <td>{{ s.studentAddress }}</td>
    <td>
      <button (click)="editStudent(s)">Edit</button>
      <button (click)="deleteStudent(s.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

